/* forgot-password-styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.custom-login-form {
    max-width: 400px;
    margin: 50px auto; /* Уменьшаем верхний отступ */
    padding: 10px 20px 20px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 150px;
}

.custom-button:hover {
    background-color: #45a049;
}

.error-wrapper {
    height: 30px; /* Высота, в которой будут отображаться сообщения */
     /* Дополнительный отступ после сообщений */
    position: relative; /* Позиционирование для содержащего элемента */
    text-align: center; /* Выравнивание содержимого по центру */
}


.error-message {
    display: inline-block; /* Сделаем сообщение блочным элементом, чтобы можно было центрировать */
    background-color: #ffcccc;
    padding: 5px 10px;

    border-radius: 4px;
    border: 1px solid #ff0000;
}
.restore-access-text {
    margin-top: 10px; /* Уменьшаем отступ сверху */
    margin-bottom: 20px; /* Уменьшаем отступ снизу */
    text-align: center;
}