body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.custom-login-form {
    max-width: 400px;
    margin: 50px auto; /* Уменьшаем верхний отступ */
    padding: 10px 20px 20px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #45a049;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-registration-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-registration-button:hover {
    background-color: #2980b9;
}

.forgot-password-link a {
    text-decoration: none;
    color: #3498db;
}

.error-wrapper {
    height: 30px; /* Высота, в которой будут отображаться сообщения */
   /* margin-bottom: 10px; *//* Дополнительный отступ после сообщений */
    position: relative; /* Позиционирование для содержащего элемента */
    text-align: center; /* Выравнивание содержимого по центру */
}

.error-message {
    display: inline-block; /* Сделаем сообщение блочным элементом, чтобы можно было центрировать */
    background-color: #ffcccc;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ff0000;
}
