<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/error-styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="page-container">
  <div th:if="${book}">
    <img  th:src="${book.getImagePath()}" alt="book image" width="350" height="430" >
    <p th:text="'Title: ' + ${book.title}"></p>
    <p th:text="'Author: ' + ${book.author}"></p>
    <p th:text="'Book description: ' + ${book.getBookDescription()}"></p>
  </div>


  <div>

    <form th:object="${testSessionDTO}"  th:action="@{'/book/' + ${bookId} + '/start'}" method="post"  >
    <label for="numberOfTests">Number of Tests:</label>
      <input type="number" th:field="*{numberOfTests}" id="numberOfTests" required>
      <span th:if="${#fields.hasGlobalErrors()}" th:errors="*{*}" class="error"></span>
      <span th:if="${#fields.hasErrors('numberOfTests')}" th:errors="*{numberOfTests}" class="error"></span>
      <br><br>
      <label for="testCategories">Test categories</label>
      <select th:field="*{testCategories}" id="testCategories" multiple required>
        <option th:each="category : ${categories}"
                th:value="${category}" th:text="${category.getFormattedName()}">
        </option>
      </select>

      <button type="submit">Submit</button>
    </form>
  </div>

  <div th:unless="${book}">
    <p>Book not found</p>
  </div>
</div>
</body>
</html>