<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/forgot-password-styles.css">
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
<div th:replace="~{header}"></div>

<form method="post" th:action="@{/user/forgotPassword}" class="custom-login-form">

    <p class="restore-access-text">To restore access to your account, enter your email</p>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="custom-input" required autofocus>

    <div class="error-wrapper">
        <div th:if="${emailError}" class="error-message">
            <span th:text="${emailError}"></span>
        </div>
    </div>

    <div class="button-container">
        <button type="submit" class="custom-button">Submit</button>
    </div>

</form>
</body>
</html>
