<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/forgot-password-styles.css">
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<div th:replace="~{header}"></div>

<form method="post" th:action="@{/user/forgotPassword}" class="custom-login-form">

    <p class="restore-access-text">To restore access to your account, enter your email</p>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="custom-input" required autofocus>

    <div class="error-wrapper">
        <div th:if="${emailError}" class="error-message">
            <span th:text="${emailError}"></span>
        </div>
    </div>

    <div class="button-container">
        <button type="submit" class="custom-button">Submit</button>
    </div>

</form>
</body>
</html>
