<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div th:replace="~{header}"></div> -->

<form method="post" action="/login">

    <label for="username">Username</label>
    <input type="text" name="username" id="username" required autofocus>

    <br>

    <label for = "password">Password</label>
    <input type = "password" name="password" id = password required>

    <button type="submit">Sign in</button>
</form>
<button th:onclick="|window.location.href='@{/registration}'|">Registration</button>

</body>
</html>