<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/login-styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{header}"></div>

<form method="post" th:action="@{/login}" class="custom-login-form">

    <div class="error-wrapper" th:classappend="${errorMessage != null or message != null} ? 'show'">
        <div th:if="${errorMessage != null}" class="error-message" th:text="${errorMessage}"></div>
        <div th:if="${message != null}" class="error-message" th:text="${message}"></div>
    </div>

    <label for="username">Username</label>
    <input type="text" name="username" id="username" class="custom-input" required autofocus>

    <br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="custom-input" required>

    <div class="button-container">
        <button type="button" th:onclick="|window.location.href='@{/registration}'|" class="custom-registration-button">Sign up</button>

        <div class="forgot-password-link">
            <a href="/user/forgotPassword">Forgot your password?</a>
        </div>

        <button type="submit" class="custom-button">Sign in</button>
    </div>

</form>

<div>
    <p>Login with:</p>
    <a href="http://localhost:8080/oauth2/authorization/google">Google</a>
</div>

</body>
</html>
