<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/registration-styles.css">
</head>
<body>
<div th:replace="~{header}"></div>

<form method="POST" th:object="${user}" th:action="@{/registration}" class="custom-registration-form">

    <div class="error-wrapper" th:classappend="${errorMessage != null or message != null} ? 'show'">
        <div th:if="${errorMessage != null}" class="error-message" th:text="${errorMessage}"></div>
        <div th:if="${message != null}" class="error-message" th:text="${message}"></div>
    </div>

    <label for="username">Email</label>
    <input type="text" th:field="*{username}" id="username" class="custom-input" required autofocus>

    <br>

    <label for="password">Password</label>
    <input type="password" th:field="*{rawPassword}" id="password" class="custom-input" required>

    <label for="matchingPassword">Confirm password</label>
    <input type="password" th:field="*{matchingPassword}" id="matchingPassword" class="custom-input" required>

    <div class="button-container">
        <button type="submit" class="custom-button">Register</button>
    </div>
</form>

</body>
</html>
