<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/password-reset-styles.css">
</head>
<body>
<div th:replace="~{header}"></div>

<form th:object="${passwordDTO}" th:method="post" th:action="@{/user/updatePassword}" class="custom-form">
    <input type="hidden" th:field="*{token}" th:value="*{token}">
    <label for="rawPassword">Your new Password</label>
    <input type="password" th:field="*{rawPassword}" id="rawPassword" class="custom-input">
    <div th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}"></div>
    <label for="matchingPassword">Repeat Your Password</label>
    <input type="password" th:field="*{matchingPassword}" id="matchingPassword" class="custom-input">
    <div th:if="${#fields.hasGlobalErrors()}">
        <span th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span>
    </div>
    <button type="submit" class="custom-button">Submit</button>
</form>

</body>
</html>
